:root {
    --primary: #111B54;
    --light: #ffffff;
    --grey: #efefef;

}

body {
    overflow: hidden;
    font-family: 'Muli', sans-serif;
    font-weight: 300;
    color: var(--primary);
    
}

a:hover {
    text-decoration: none;

}




.bg-light {
    background-color: var(--light) !important;
}

.bg-grey {
    background-color: linear-gradient(to right, #03fce5, #bfffc1) !important;
}

.bg-mix {
    background: linear-gradient(180deg, var(--black) 50%, var(--grey) 0);
}



#sidebar-container {
    min-height: 10vh;
}

#sidebar-container .logo {
    padding: 0.875rem 1.25rem;

}

#sidebar-container .menu {
    width: 15rem;

}
#menulateral{
    display:none;
}
#menures{
    overflow-y:unset;
}

#content {
    overflow-y: auto;
    height: 100vh;
    padding-bottom: 5rem;
    
}

.avatar {
    max-width: 35px;
    background-color: #edf6f5;
}

.btn-search {
    right: 0;

}

.container--logo {
    height: 4.2rem;

}

.stat {
    border-right: 1px solid var(--light);

}

.text_area_1 {
    resize: none;

}
@media (max-width: 768px) {
    #sidebar-container {
        display: none;
    }

    .stat {
        border: 0;
    }

}


ul {
    list-style: none;
    /* Quitamos los marcadores */
    padding: 0;
    /* Quitamos el padding por defecto de la lista */
    margin-left: 10px;
    /* Separamos la lista de la izquierda */

}


body {
    background: #FF58BD;
    background: linear-gradient(to right, #03fce5, #bfffc1);
}


body::after {
    content: '';
    width: 100%;
    height: 100%;
    position: fixed;
    top: -100vw;
    left: 0;
    /*background: linear-gradient(to right, #ff6206, #5de4e9);*/
    transition: all .3s;
}

.loading::after {
    top: 0;
}

.altura_boton_fix {
    height: 100%;
    width: 100%;
}

.fix_bar_side {
    width: 100%;
}


@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
/*:::::Pie de Pagina*/
.pie-pagina{
    width: 100%;
    background-color: #0a141d;
}

.pie-pagina .grupo-2{
    background-color: #0a1a2a;
    text-align: center;
    color: #fff;
    padding: 32px;
    height: 10vh;
    position: fixed;
    bottom: -5%;
    width: 100%;
   
}

.pie-pagina .grupo-2 small{
    font-size: 15px;
    
}

@media screen and (max-width:1800px){
    .pie-pagina .grupo-1{
        width: 90%;
        grid-template-columns: repeat(1, 1fr);
        grid-gap:30px;
        padding: 35px 10px;
        
    }
}

/*Responsive*/

@media screen and (max-width: 850px) {
    #sidebar-container {
        display: none;
        
    }
    .body{
        display: none;
        content: none;
        
    }

    .stat {
        border: 0;
    }
    @import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');
   *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
    }
    #titulo{
        text-align: right;
    }
    #menulateral{
        display:inline;
    }
    #menures{
        overflow-y: scroll;
    }
    
    #p1{
        height: 10vh;
        margin: 55px;
    }
    #botonp{
        background-color: #03fce5;
        height: 0px;
        align-self:flex-start;
    }
    #nombre_proyecto_1{
        margin: -120px;
        height: 0px;
        text-align:left;
    }
    #nombre_proyecto_2{
        margin: -120px;
        height: 0px;
        text-align:left;
    }
    #nombre_proyecto_3{
        margin: -120px;
        height: 0px;
        text-align:left;
    }
    #nombre_proyecto_4{
        margin: -120px;
        height: 0px;
        text-align:left;
    }
    #nombre_proyecto_5{
        margin: -120px;
        height: 0px;
        text-align:left;
    }
    #nombre_proyecto_6{
        margin: -120px;
        height: 0px;
        text-align:left;
    }
    #nombre_proyecto_7{
        margin: -120px;
        height: 0px;
        text-align:left;
    }
    #nombre_proyecto_8{
        margin: -120px;
        height: 0px;
        text-align:left;
    }
    

}