.bg {
    background-image: url(../img/2.png);
    background-position: center center;
}
.bg2{
    background-image: url(../img/3.jpg);
    background-position: center center;
    
}

body {
    background: #FF58BD;
    background: linear-gradient(to right, #5ED6D0, #C8C8C8);
}